/* Estilos Generales Básicos */

/* Declaración de Archivo de estilos Fontello y estilos de los iconos */ 
@import url(fontello.css);
@import url(icons_fontello.css);

/* Declaración de Archivos de estilos de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&family=Hind+Siliguri&family=Raleway:wght@400;700&family=Roboto+Slab&display=swap');

/* 
font-family: 'Encode Sans Condensed', sans-serif;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
*/

* {
    /* Declaro valores generales para quitar los de Default */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1024px;
    margin: auto;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1.5px;
}
img {
    display: block;
    max-width: 100%;
}

/* Desarrollo Mobile First para 390 x 844 pixeles */
@media screen and (min-width: 660px) { 
}
@media screen and (min-width: 844px) { 
}
@media screen and (min-width: 1024px) {
}