.quienes__somos {
    font-family: 'Hind Siliguri', sans-serif;
}

.quienes__somos p {
    padding: 20px;
    font-size: 16px;
}

.quienes__somos img {
    padding: 30px;
    filter: drop-shadow(16px 16px 25px black);
}

/* Desarrollo Mobile First para 390 x 844 pixeles */

@media screen and (min-width: 660px) { 
}

@media screen and (min-width: 820px) { 
    .quienes__somos {
        display: flex;
        flex-direction: row;
    }
    .columna1 {
        width: 50%;
    }
    .columna2 {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50%;
    }

}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {  
}